body{
	font: 16px "Times New Roman";	/* Estableix el tipus de lletra comú per a tot el document i el seu tamany */
	background: #42413C;		/* Posem un color de fons per al document */
	margin: 0;
	padding: 0;					/* No posem cap marge ni farciment? al bobody */
	color: #000;				/* Posem el color per defecte del text a negre */
}

.container {
	width: 960px;				/* Posem un ample fix al contenidor on anirà el text, aixó ens permet centrar-lo horitzontalment */
	background: #FFF;			/* Posem el color de fons a blanc */
	margin: 0 auto; 			/* Donem un marge automàtic a dreta i esquerra, que ens provocarà el centrat juntament amb el tamany fixe del div */
	padding: 10px;				/* Posem un farciment de 10 pixels als 4 costats del div, això és un espai en blanc en els 4 costats */
}

h1{
    font-family: Helvetica, Arial, sans-serif;	/* Posem un tipus de lletra especific per als títols de primer nivell */
    font-weight: bold;							/* També el posem en negreta */
    text-align: center;							/* Fem que el text es centri en l'espai disponible */
    font-size: 32px;							/* Posem un tamany de lletra major */
}

h2, h3{
	font-weight:normal;					/* Fem que els titols de 2n i 3r nivell no tinguin negreta */
	font-size:20px;						/* Posem un tamany de lletra de 20 px */
}

h2{ 
     line-height:35px;					/* Al títol de segon nivell li donem una alçada de linea major, que amb la font de 20px fara que augmenti el espai entre linees */
}

h3{
    text-decoration:underline;  		/* Fem que el titol de 3r nivell vagi subratllat */	
}

h4{
    text-align:center;					/* Centrem el titol de 4rt nivell */
	font-size:24px;						/* Posem un tamany delletra major */
}

em{
	font-variant: small-caps;			/* Fem que el text emfatitzat, estigui en versaleta amb majúscules lleugerament més grans */
    font-style:normal;					/* Fem que el text sigui normal ja que per defecte els navegador fan l'emfasis com cursiva */
}

h2 + p, h3 + p{
    text-indent:20px;					/* Apliquem una indentació en els paràgrafs que van just despres de un titol de 2n o 3r nivell */
}

blockquote{
    font-style:italic;					/* Posem la cita en lletra cursiva */
	line-height:13px;					/* Disminuim l'alçada de la linea, de forma que el text estigui mes apretat */
	font-size: 13px;					/* Posem un tamny de lletra mes petit */
}

p{
    text-align:justify;					/* Fem que el text dels paràgrafs estigui justificat */
}
