body {
	font: 16px "Times New Roman";	/* Estableix el tipus de lletra comú per a tot el document i el seu tamany */
	background: #42413C;			/* Posem un color de fons per al document */
	margin: 0;
	padding: 0;						/* No posem cap marge ni farciment? al body */
	color: #000;					/* Posem el color per defecte del text a negre */
}	

.container {
	width: 960px;				/* Posem un ample fix al contenidor on anirà el text, aixó ens permet centrar-lo horitzontalment */
	background: #FFF;			/* Posem el color de fons a blanc */
	margin: 0 auto; 			/* Donem un marge automàtic a dreta i esquerra, que ens provocarà el centrat juntament amb el tamany fixe del div */
	padding: 10px;				/* Posem un farciment de 10 pixels als 4 costats del div, això és un espai en blanc en els 4 costats */
}