/* Definim un estil base per al body, eliminant margins i paddings i definint un color, 
 * una pila de fonts i un tamany base
 */
body {
	color: #000;
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 0.875em; 		/*Font base es 0.875 ~ 14px, ja que 16px ~ 1em*/
	margin: 0;
	padding: 0;
}

/* Definim la font i el pes del títols 
 */
h1,h2,h3,h4,h5,h6 { 
	font-weight: normal; 
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

/* Definim els tamanys de font i altres peculiaritats(tamany de linea, marges) de cadascun dels títols
 */
h1 { 
	font-size: 2em; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}
h2 { 
	font-size: 1.75em; 
	margin-bottom: 0.75em; 
}

/* Fem que els paràgrafs estiguin justificats i els hi apliquem un marge inferior
 */
p  { 
	margin: 0 0 1.5em; 
	text-align:justify;
}

/* Definim una mena de subratllat per a les abreviatures
 */
abbr{ 
	border-bottom: 1px dotted #222;
}

/* Cambiem la font, el tamany y l'alçada de la línea per als blocs de codi 
 */
code { 
	font: 1em 'andale mono', 'lucida console', monospace; 
	line-height: 1.5; 
}

/* Definim els estils de la llista de definicions, un marge a l'esquerra de la llista, els termes en negreta i 
 * uns marges al voltant de cada definicio de terme
 */
dl  { 
	margin: 0 0 1.5em 0; 
}
dl dt { 
	font-weight: bold; 
}
dd { 
	margin: 1em 0em 1em 1.5em;
}

/* Definim els estils dels enllaços en cadascun dels estats
 */
a:focus, a:hover     { color: #09f; }
a:active    { font-style:italic; }
a:visited    { color: #6d006d; }
a , a:link  { color: #06c; text-decoration: underline; }

/* El strong es en negreta 
 */
strong  { 
	font-weight: bold; 
}

/* Els enfasis son sense italica i en versaleta
 */
em{
	font-variant:small-caps;
	font-style:normal;
}

/* Ample fix i centrat en el contenidor global. Apliquem un relleno de 10 px al voltant
 */
.container {
	width: 960px;			
	margin: 0 auto;
	padding: 10px;
}

/* Definim una clase clear, que ens permet definir on volem que acabin el elements flotants
 */
.clear{
	clear:both;
}

/*********************************************************************************
 * 		Estils especifics al Header + Navigation
 ********************************************************************************/

 /* Color de fons i ample del 100% en la capcelera
  */
#header{
	width:100%;
	background-color:#f2f2f2;
}
/* La llista que fa de menú, la posicionem a la dreta i apliquem un relleno al voltant
 */
#header ul#nav{ 
	float:right; 
	padding:10px;
	margin:0;
}
/* Treiem la decoració de cada element de navegació, i fem que es posicionin un al costat de l'altre
 * mantenint una distancia entre ells
 */
#header ul#nav li {
	list-style-type:none;
	float:left;
	padding:0 5px;
}

/*********************************************************************************
 * 		Estils especifics per a Respostes.html
 ********************************************************************************/

 /* Estils per a simular una llista que comença en un element diferent de 1 amb els comptadors CSS
  * Es crea la variable llista que val 2, i s'elimina la decoració de la llista
  */
#llista-3 { 
	counter-reset: llista 2;
	list-style-type:none;
}
/* Per a cada element, s'incrementa el valor del comptador llista
 */
#llista-3 li{ 
	counter-increment: llista;
}
/* Insertem el valor del comptador llista abans de cada element de la llista
 */
#llista-3 li:before  { 
	content: counters(llista, ".") ". "; 
}

/*********************************************************************************
 * 		Estils especifics per a imprenta.html
 ********************************************************************************/

 /* Definim el estil per als contenidors de les imatges, aplicant un color de fons, un marge a la dreta per a
  * que la caixa sigui mes estreta que el text i aplicant un relleno de 10 px en el interior
  */
.image-container{
	background-color:#b2b2b2;
	margin-right:3em;
	padding:10px;
}

/* Fem que el text de dintre de les caixe sigui lleugerament mes petit i estigui alineat a l'esquerra
 */
.image-container p{
	font-size: 0.8em;
	text-align: left;
}

/* Posem la nota legal en cursiva
 */
p.nota-legal{
	font-style:italic;
}

/* Apliquem un color a la classe date, que s'aplicarà a les dates del text.
 */
.date{
	color:#3c3c3c;
}
