/* Definim un estil base per al body, eliminant margins i paddings i definint un color, 
 * una pila de fonts i un tamany base
 */
body {
	color: #000;
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 0.875em; 		/*Font base es 0.875 ~ 14px, ja que 16px ~ 1em*/
	margin: 0;
	padding: 0;
}

/* Definim la font i el pes del títols 
 */
h1,h2,h3,h4,h5,h6 { 
	font-weight: normal; 
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

/* Definim els tamanys de font i altres peculiaritats(tamany de linea, marges) de cadascun dels títols
 */
h1 { 
	font-size: 2em; 
	line-height: 1; 
	margin-bottom: 0.5em; 
}
h2 { 
	font-size: 1.75em; 
	margin-bottom: 0.75em; 
}

/* Definim els estils dels enllaços en cadascun dels estats
 */
a:focus, a:hover     { color: #09f; }
a:active    { font-style:italic; }
a:visited    { color: #6d006d; }
a, a:link  { color: #06c; text-decoration: underline; }

/* El strong es en negreta 
 */
strong  { 
	font-weight: bold; 
}

/* Ample fix i centrat en el contenidor global. Apliquem un relleno de 10 px al voltant
 */
.container {
	width: 960px;			
	margin: 0 auto;
	padding: 10px;
}

/* Definim una clase clear, que ens permet definir on volem que acabin el elements flotants
 */
.clear{
	clear:both;
}

/*********************************************************************************
 * 		Estils especifics al Header + Navigation
 ********************************************************************************/

 /* Color de fons i ample del 100% en la capcelera
  */
#header{
	width:100%;
	background-color:#f2f2f2;
}
/* La llista que fa de menú, la posicionem a la dreta i apliquem un relleno al voltant
 */
#header ul#nav{ 
	float:right; 
	padding:10px;
	margin:0;
}
/* Treiem la decoració de cada element de navegació, i fem que es posicionin un al costat de l'altre
 * mantenint una distancia entre ells
 */
#header ul#nav li {
	list-style-type:none;
	float:left;
	padding:0 5px;
}

/*********************************************************************************
 * 		Estils especifics per a taula.html
 ********************************************************************************/

 /* Definim un ample per la taula, i un tipus de lletra amb serif. 
	Fem que tot el texte sigui centrat per defecte i ja sobreescriuren aquest valor allà on toqui*/
table{
	width:610px;
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
	text-align:center;
}

/*  Afegim un borde blanc inferior en cel·les per simular la separació entre files.
	També donem un petit farciment en la part inferior de cel·les */
table th, table td{
	border-bottom: 2px solid #fff;
	padding-bottom: 2px;
}

/*	Títol de la taula, el posem en negreta, alineat a l'esquerra i li donem un farciment 
	de 10px al voltant */
table caption{
	font-weight:bold;
	padding: 10px;
	text-align:left;
}

/*	Fem que totes les cel·les de títols tinguin un espai lliure a l'esquerra i
	estiguin alineats a la esquerra */
table th {
	padding-left:10px;
	text-align:left;
}

/* 	Per a les cel·les de títol de la capcelera, els centrem i els hi donem
	un color de lletra blanc i un color de fons */
table thead  th{
	text-align:center;
	color:#fff;
	background-color:#90aebb;
}

/*	A les cel·les de títol del cos de la taula els hi treiem la negreta */
table tbody th{
	font-weight:normal;
}

/*	A la classe block-title i al peu definim que els texts aniran en negreta */
table tbody .block-title, table tfoot{
	font-weight:bold;
}

/* 	Establim els colors de les files alternades. Fiquem un per defecte i despres el sobreesciurem
	perles files imparelles. També es podria haver fet amb el selector nth-child de CSS3
 */
table tr { background-color: #d6ebf4; }
table tr.odd { background-color: #a8cbda; }



/*********************************************************************************
 * 		Estils especifics per a formulari.html
 ********************************************************************************/

 /* Definim estils per defecte dels controls d'entrada de dades 
	Els hi donem un borde gris
 */
input[type=text], input[type=password], textarea {
	border:1px solid #bbb;
}
/*	Fem que el color del borde canvïi quan s'estigui editant el camp */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border-color:#5085c8;
}
/*	Forcem un borde de 1px i solid als selects per que quedi més
	semblan a la resta de controls */
select {
	border-width:1px;
	border-style:solid;
}

/*	Definim el em de dins del formulari, que ens servirà per a marcar els 
	camps obligatoris a través d'un asterisc */
form em {
  color:#f00;
}

/*	Definim els estils que ens col·locaràn els elements del formulari 
	de forma correcta */

/*	Treiem el borde i el farciment del fieldset, li afegim un marge inferior per 
	separar-lo dels camps de introducció de dades */
form fieldset {
	border: none;
	margin-bottom: 10px;
	padding: 0;
}
/*	Posem maco el titol del formulari (legend), posant-li un ample del 100%,
	un borde inferior i el text en negreta. També li afegim un marge inferior */
form legend {
	width:100%;
	border-bottom: 1px solid #bbb;
	margin-bottom: 10px;
	font-weight: bold;
}

/*	Definim els estils per a les etiquetes. Augmentem el alt de linea, alineem 	
	el text en la part superior.
	També li posem un ample fix de 180px, i el display el posem a inline-block
	que ens transforma l'element en un bloc que es tractat com un element en linea.
	http://www.w3.org/TR/CSS2/visuren.html#display-prop
*/
form label {
	display: inline-block;
	line-height: 1.8em;
	vertical-align: top;
	width: 180px;
}
/*	Eliminem els marges i els farciments de la llista ul */
form fieldset ul {
	margin: 0;
	padding: 0;
}
/*	Per a cada element de la llista, li treiem la decoració,
	li afegim un farciment de 5 px al voltant i li treiem els marges que pugui tenir */
form fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
/*	Definim els estils per als fieldset imbricats que puc tenir, aquest fieldsets els 
	usarem per a agrupar blocs dintre de cada pregunta, com per exemple amb les diverses
	opcions de Sexe.
*/

/*	Definim els estils per a la llegenda del fieldset imbricat.
	Li treiem el borde, i la negreta */
form fieldset fieldset legend {
	border: none;
	font-weight: normal;
}
/*	Apliquem un marge  del mateix ample que tenen les etiquetes del fieldset primari per
	a que es reubiqui en la posicio que li pertoca */
form fieldset fieldset label {
	margin-left: 180px;
}
