/* Posem una alçada minima del html i un petit marge inferior, per a que el navegador sempre mostri 
 * la barra de desplaçament a la dreta i no provoqui un salt quan es passa d'una pàgina sense
 * scroll a una amb scroll
 */
html {
    height: 100.5%;
    margin-bottom: 1px;
}

/* Definim un estil base per al body, eliminant margins i paddings i definint un color, 
 * una pila de fonts i un tamany base
 * Posem una imatge de fons de 1px i que es repeteix horitzontalment i que simula la franja 
 * vermella horitzontal
 */
body {
	color: #000;
	background: #181e20;
	font-family: Arial, sans-serif;
	font-size: 0.875em; 		/*Font base es 0.875 ~ 14px, ja que 16px ~ 1em*/
	margin: 0;
	padding: 0;
	background: #181e20 url('../shared/bg.jpg') repeat-x;
}

/* Modifiquem els valors dels títols, cambiant el color de la font i resetejant els
 * marges i farcimens
 */
h1, h2, h3, h4 { 
	color: #a61f27; 
	margin:0; 
	padding:0; 
}

/* Redefinim els marges per als titols de 3r, 4t, 5é i 6é nivell
 */
h3, h4, h5, h6{
	margin:5px 0;
}

/* Modifiquem el tamany de font i el pes dels títols de 3r i 4t nivell
 */
h3, h4 {
	font-weight:normal;
}
h3 {
	font-size:1.4em;
}
h4 {
	font-size:1.3em;
}

/* Ample fix de 100px, ja que el contingut(#content) farà 900px + 50px de marge a esquerra i dreta, 
 * centrat en el contenidor global. Apliquem un farciment de 10 px al voltant i un color de fons blanc
 */
.container {
	width: 1000px;
	background-color: #fff;	
	margin: 0 auto;
	padding-top: 10px;
}

/* Capcelera, apliquem un marge superior i simulem la continuïtat de la franja horitzontal mitjançant els bordes
 *	Position relative per a forçar que el ul.nav es posicioni en la banda inferior dreta , usant absolute (relatiu al pare relatiu)
 */
#header {
	margin:20px 0; 
	border-left: 20px solid #a61f27;
	border-right: 20px solid #a61f27;
	padding: 0 30px;
	position:relative;
}
/* Fem que els titols de la capcelera es posicionin a l'esquerra del bloc
 */
#header .title{
	float:left;
}
/* Contingut, ample fix de 900px, amb els marges i farciments necessaris.
 * També l'hi definim una alçada mínima. 
 * Simulem el separador entre el header i el content amb un borde superior
 */
#content {
	width: 900px;
	margin: 10px 50px 0px 50px;
	padding-top: 30px;
	min-height:500px;
	border-top: 5px solid #a61f27;
}

/* Peu, apliquem un color de fons i una alçada per a pintar la franja vermella
 */
#footer {
	margin: 0 50px;
	height:10px;
	background: #a61f27;
}


/*** Sistema de graella ***/

/*  Definim una estructura de graella que ens permeti adaptarnos a tots els casos posibles.
 *	Per a fer-ho crearem una graella de 900px de ample dividida en 4 columnes de 216px i
 *	amb un marge de 12px
 *	Llavors podrem definir estils de forma que cada caixa ocupi 1,2,3 o 4 columnes de la graella 
 */

.span-1, .span-2, .span-3, .span-4 {
	float:left;
	margin-right: 12px;
}

/* La última columna necessita aquesta classe, per a eliminar el marge i ajustar-se als 900px
 */
.last { 
	margin-right: 0; 
}

/* Cal usar aquestes clases per definir quan espai ocupa cada caixa */
.span-1  { width: 216px; }
.span-2  { width: 444px; }
.span-3  { width: 672px; }
.span-4  { width: 900px; margin: 0; }

/* Definim una clase clear, que ens permet definir on volem que acabin el elements flotants
 */
.clear{
	clear:both;
}

/* Definim un block, que seria cada agrupació de contingut horitzontal, i que en cada pagina en podem tenir 2 o 3
 * Fem que faci un clear i li posem un marge base per a deixar un espai entre blocs
 */
.block{ 
	clear:both; 
	margin-bottom: 30px !important;
}

/* Creem un estil especific per a trencar amb els flotants. Basicament sols s'usa en el pas 17, on tenim un bloc centrat
 */
.no-float{ 
	float:none !important; 
	clear:both !important;
}

/* Creem un estil  que s'encarregui d'ajustar els estils en cas que les columnes tinguin un separador vertical, 
 * de moment sols aplicaria a 2 columnes span-2, però es podria ampliar a altres 
 *
 *	Li cambiem l'ample i el padding, ja que tindrem menys espai per culpa del separador, i pintem aquest com un borde
 */
.with-vertical-separator .span-2{
	width: 424px;
	border-right: 2px solid #A61F27;
	padding-right: 18px !important;	
}

/* Fem que el l'ultima columna no tingui borde ni marge, d'aquesta forma sols ens queda el borde en el primer span-2
 */
.with-vertical-separator .last{
	width: 424px;
	border: 0;
	margin-right: 0px !important;
	padding-right: 0px !important;
	padding-left: 20px !important;
}

/* Navegacio superior e inferior */

/* Navegació superior: Li posem un position absolute, ja que volem que es col·loqui en el costat inferior dret, ho fem a través de bottom i right.
 * Li apliquem un borde inferior per simular el disseny original
 */
#nav {
	position: absolute; 
	bottom: 0; 
	right:0;
	margin-right:30px;
	padding-bottom:5px;
	padding:5px 0;
	border-bottom: 2px solid #909090;
}

/* Navegació inferior: Flotant a la dreta i sense borde ni farciment
 */
#subnav{
	float:right;
	border:0; 
	padding:0;
}

/* Elements de navegació, flotant a l'esquerra, amb un borde a la dreta, sense vinyeta i una alçada de linea de 10px
 */
#subnav li, #nav li{
	line-height:10px;
	border-right:2px solid #909090;
	list-style:none;
	float:left;
}

/* Enllaços de navegacio, li posem un marge a la dreta, i definim els estils per als diferents estats
 */
#subnav a, #nav a{
	margin-right:2px;
}
#subnav .active, #nav .active{
	color:#909090;
	font-weight:bold;
	padding:4px 6px;
}
#subnav a:link, #subnav a:visited, #nav a:link, #nav a:visited {
	color:#a61f27;
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
}
#subnav a:hover, #nav a:hover{
	text-decoration:none;
}

/* Altres estils */

/* Centered: Centra un text i els divs que contingui
 */
.centered { 
	text-align:center; 
}

/* Els divs dintre de .centered també es centraràn, però no els texts dintre d'aquests div
 */
.centered div{
	margin:0 auto;
	text-align:left;
}

/* Afegeix un farciment superior */
.add-space-top{
	padding-top: 50px;
}

/* Estil per a la nota de peu dels videos interactius
 */
.interactive {
	color: #A61F27;
    text-align: left;
}
/* Estil per al video interactiu del pas3, on el video va centrat, però la nota va a l'esquerra del video
 */
.interactive-610 {
	margin:auto; 
	width:610px;
	text-align:left;
}
/* Estil per a les caixes que contenen un text, i que aplica un farciment de 5px al voltant
 */
.text-box{
	padding:5px;
}

/* Corregim la separació en les llistes interiors dels blocks */
.block ul li { 
	margin: 10px 0px;
}

/* Definim el estil dels bordes
 */
.border{
	border:2px solid #a61f27;
}

/*	Estils exercici, sobreescrivim estils del titols de nivell 5 i 6 */
.exercise{
	text-align:left;
	padding:10px;
}
.exercise h5, h6{
	color: #000;
	font-size:1.2em;
}

/* Enllaços inferiors de validació d'HTML i CSS  */
#validation{
	margin:0 auto;
    width: 1000px;
}
#validation ul{
	float:right;
}
#validation li{
	float:left;
	margin-left:10px;
	list-style-type:none;
}
#validation a:link, #validation a:visited{
	color:#fff;
	text-decoration:underline;
}
#validation a:hover{
	text-decoration:none;
}