
<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 3 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block span-4 last">
	<p>A pesar de que ya deberíamos saber qué significa lo que aparece en la vista de código, conviene repasarlo brevemente.</p>
	<div class="centered">
		<div class="interactive-610">
			<img src="img/primg03.png" alt="Código por defecto generado por Dreamweaver" />
			<br /><span class="interactive">Interactivo</span>
		</div>
	</div>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step2.html">Anterior</a></li>
	<li><a href="step4.html">Siguiente</a></li>
</ol>