<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 10 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-2">
		<p>
			Ahora que hemos escrito el texto, vamos a marcar aquellas palabras que sean más relevantes. Vamos a usar dos
			etiquetas, &lt;strong&gt; y &lt;em&gt;, que, por defecto, en pantalla aparecerán con negrita y cursiva respectivamente, pero cuyo
			significado vendría a ser &quot;resaltado&quot; y &quot;enfatizado&quot;.
		</p>
		
		<p>
			En el primer párrafo seleccionamos &quot;playa de Son Xoriguer&quot; y en la barra de propiedades apretamos el botón <strong>b</strong> (de bold, negrita).
		</p>
		
		<p>
			En la pantalla (en la vista de diseño) veremos esto:
		</p>
		
		<p class="add-space-top">
			Y si seleccionamos la vista de código, lo que veremos será esto:
		</p>
		
	</div>
	<div class="span-2 last centered">
		<p>
			<img src="img/primg10a.png" alt="Propiedades del texto" />
		</p>
		
		<p>
			<img src="img/primg10b.png" class="border" alt="Detalle de efecto Negrita" />
		</p>
		
		<p>
			<img src="img/primg10c.png" class="border" alt="Detalle de código para Negrita" />
		</p>
	</div>
	<div class="clear"></div>
</div>

<div class="block span-4 last">
	<p class="border text-box">
		A pesar de la utilización de la inicial <strong>b</strong> como indicador de &lt;strong&gt; y de que la presentación en pantalla de esta etiqueta es un texto en 
		negrita, esto no es obligatorio; lo importante es la carga semántica de la etiqueta.
	</p>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step9.html">Anterior</a></li>
	<li><a href="step11.html">Siguiente</a></li>
</ol>