
<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 2 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-2 centered">
		<img src="img/primg02a.png" class="border" alt="Opciones para crea un nuevo documento" width="350" height="204" />
	</div>
	<div class="span-2 last">
		<p>
			Vamos a crear un nuevo documento donde haremos nuestra primera
			página. Para ello, en el menú seleccionamos <code>Archivo - Nuevo…</code> y en
			la ventana que aparece seleccionamos HTML.
		</p>
		<p>
			También podemos hacer clic en <em>Crear nuevo HTML</em> de la ventana de
			presentación de Dreamweaver.
		</p>
		<p>
			Por defecto, Dreamweaver presenta la vista de diseño, con lo que se nos
			presentará una pantalla en blanco. Sin embargo, es interesante ver qué
			ha puesto Dreamweaver en esta página inicial.
		</p>
	</div>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1 add-space-top">
		<p>
			Para ello seleccionaremos la vista de Código y veremos lo que
			aparece en la imagen de la derecha..
		</p>
		<p>
			En total, Dreamweaver ha escrito nueve líneas de código (nótese que hay una partida en dos).
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg02b.png" class="border" alt="Código generado por Dreamweaver en un nuevo documento" />
	</div>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step1.html">Anterior</a></li>
	<li><a href="step3.html">Siguiente</a></li>
</ol>