<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 17 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block span-4 last centered">
	
	<div class="span-2 no-float">
		<p>
			Para asentar los conceptos desarrollados en este tutorial, se recomienda hacer la siguiente actividad.
		</p>
		<p>
			Cread una nueva página web, cuyo título será “Crear y mantener una página web”, que tendrá el siguiente texto: 
		</p>
	</div>
	
	<div class="span-3 no-float border exercise">
		<h5>Introducción</h5>
		<p>
			A mediados de los años 90, para crear una página web necesitábamos tener algunos conocimientos de
			HTML, un espacio donde alojarla, un cliente ftp y mucho tiempo para mantenerla. Y, sin embargo,
			GeoCities, <strong>un servicio gratuito de alojamiento</strong>, albergaba innumerables webs. Muchas personas
			tenían cuestiones que explicar y GeoCities ofrecía un espacio donde hacerlo.
		</p>
		
		<h6>Creando una web sencilla</h6>
		<p>
			Así, cuando la página no pretende más que ofrecer una información puntual que no debe cambiar, puede
			ser interesante usar <strong>opciones sencillas</strong>, y a priori menos costosas que los sistemas de gestión de contenidos.
		</p>
	</div>
	
	<div class="span-2 no-float">
		<p>
			Debéis usar encabezados (h1 y h2), negrita, cursiva y párrafos.
		</p>
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav" class="block">
	<li><a href="step16.html">Anterior</a></li>
	<li class="active">Siguiente</li>
</ol>