<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 12 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			Dreamweaver nos indica al pie de la ventana las características del contenido sobre el que se encuentra el cursor.
		</p>
		<p>
			En la vista de diseño, puede  ser muy útil ver qué etiquetas se encuentran activas en un punto dado.
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg12.png" alt="Ventana de propiedades y vista de código" />
		<br /><span class="interactive">Interactivo</span>
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step11.html">Anterior</a></li>
	<li><a href="step13.html">Siguiente</a></li>
</ol>