<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 4 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	
	<div class="span-3">
		<p>
			Una vez hemos creado el nuevo documento, podemos configurar unos parámetros que
			afectarán al conjunto de la página. Esos parámetros los podemos modificar en el menú
			<em>Modificar-Propiedades</em> de la página.
		</p>
		<p>
			Las cuatro categorías iniciales nos permiten modificar el aspecto general de la página.
			Como especificaremos el diseño de la página desde un archivo CSS, nos saltamos
			esas categorías para centrarnos en la de <em>Título-Codificación.</em>
		</p>
		<p>
			<img src="img/primg04.png" class="border" alt="Propiedades de la pàgina" />
		</p>
	</div>
	
	<div class="span-1 last">
		<p>Fijémonos en las diferentes opciones:</p>
		<p>
			<strong>Título</strong>: Es el texto que aparece en la pestaña donde está abierta la página.
		</p>
		<p>
			<strong>DTD</strong>: Indica qué versión del lenguaje de etiquetado usaremos. Dreamweaver selecciona por defecto XHTML 1.0
			transicional, que como hemos dicho ya nos irá bien. Podría interesarnos, también, HTML 4.01 o, en un futuro, HTML5. Sea
			cual sea la versión que queramos usar, este es el lugar para indicarlo.
		</p>
		<p>
			<strong>Codificación</strong>: Indica de qué manera se codifican los caracteres. UTF-8 suele ser una buena opción porque permite la
			codificación de cualquier carácter. Sin embargo, dependiendo del servidor, podría ser necesario usar la codificación &quot;Europeo
			occidental&quot; (ISO-8859-1). 
		</p>
		<p>
			Finalmente, en la categoría <em>Imagen de  rastreo</em> podemos seleccionar una imagen, que se pondría como fondo, para que nos
			sirva de muestra a la hora de montar nuestra página. Esa imagen no aparecerá cuando publiquemos la página.
		</p>
	
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step3.html">Anterior</a></li>
	<li><a href="step5.html">Siguiente</a></li>
</ol>