<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 6 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block with-vertical-separator">
	<div class="span-2">
		<p>
			Vamos a acabar la preparación de nuestra página poniéndole el título a la misma. Esto lo podemos realizar en
			tres sitios diferentes:
		</p>
		<ul>
			<li>
				Directamente en el código, modificando el texto <em>Documento sin título</em>. Vimos cómo acceder al código de la página en un paso anterior.
			</li>
			<li>
				En el menú, en <em>Modificar-Propiedades de la página</em>, en la categoría <em>Título-Codificación</em> tenemos un campo llamado <em>Título</em> donde podemos modificar ese dato.
			</li>
			<li>
				Finalmente, en la barra de herramientas que aparece bajo  el menú, tenemos también un cuadro de texto donde podemos modificar el título de nuestra página. Vamos a
				hacerlo aquí; vamos a poner &quot;Alquiler de apartamento en Menorca&quot;.
			</li>
		</ul>
	</div>
	<div class="span-2 last">
		<p>
			Ahora ya estamos a punto de poder incluir contenido en nuestra página. Nos queda tan solo grabar la página con el nombre <em>index.html</em>.
		</p>
		<p>
			¿Por qué <em>index.html</em>? <em>index.html</em> es el archivo que la mayoría de servidores carga por defecto cuando se accede a un sitio web.	
		</p>
	</div>
	<div class="clear"></div>
</div>

<div class="block span-4">
	<p class="centered">
		<img src="img/primg06.png" class="border" alt="Detalle de la barra de herramientas" />
	</p>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step5.html">Anterior</a></li>
	<li><a href="step7.html">Siguiente</a></li>
</ol>