<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 7 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block with-vertical-separator">
	<div class="span-2">
		<p>
			Ha llegado el momento de empezar a añadir contenido a nuestra página. Vamos a escribir un breve texto con la siguiente estructura:
		</p>
		<p>
			Título principal: &quot;Alquiler de apartamento en Menorca&quot;<br />
			Subtítulo: &quot;Ubicación&quot;<br /> 
			Subtítulo: &quot;Características&quot;
		</p>
		<p>
			Además, bajo cada uno de los subtítulos pondremos un párrafo explicativo.
		</p>
	</div>
	<div class="span-2 last">
		<p>
			En &quot;Ubicación&quot;: En Cala'n Bosch, a 100 metros de la playa de Son Xoriguer. Conjunto de apartamentos en bloques de 2
			pisos de altura (planta baja más piso), con zona comunitaria con piscina.
		</p>
		<p>
			En &quot;Características&quot;: Apartamento en primer piso de 65 metros cuadrados totalmente equipado. Un cuarto de baño
			completo, cocina americana equipada con horno, microondas, nevera y lavavajillas. Tres habitaciones, una de matrimonio y dos dobles.
		</p>
	</div>
	<div class="clear"></div>
</div>

<div class="block span-4">
	<p class="centered">
		<img src="img/primg07.png" class="border" alt="Vista del contenido" />
	</p>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step6.html">Anterior</a></li>
	<li><a href="step8.html">Siguiente</a></li>
</ol>