
<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 1 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-2">
		<p>
			Vamos a crear una sencilla página web con un poco de texto
			y algunas imágenes, pensada para alquilar un apartamento
			en Menorca. Es un primer ejercicio donde veremos cómo
			empezar a usar Dreamweaver. Normalmente, no haremos
			webs de una sola página, pero ahora nos servirá para
			familiarizarnos con el entorno y empezar a ver cómo se usa
			el programa.
		</p>
		<p>
			Una vez abrimos Dreamweaver, en la barra de título y a la
			izquierda de la caja de búsqueda, encontramos un
			desplegable que nos permitirá seleccionar un estilo de
			espacio de trabajo predeterminado.
		</p>
		<p>
			Para seguir esta guía, lo más útil será seleccionar la vista de
			Diseñador, que nos muestra una barra lateral, con los estilos
			y los archivos del sitio, y una inferior, con las propiedades del
			elemento que tenemos seleccionado.
		</p>
		<p>
			<img src="img/primg01b.png" class="border" alt="Detalle de selección de Vista Diseñador" />
		</p>
	</div>
	<div class="span-2 last">
		<img src="img/primg01a.jpg" class="border" alt="Captura de pantalla de Dreamweaver" width="430" height="322" />
	</div>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li class="active">Anterior</li>
	<li><a class="next" href="step2.html">Siguiente</a></li>
</ol>