<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 5 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			Hay un paso que Dreamweaver no hace de forma automática pero es imprescindible: indicar el
			idioma principal de nuestra página web. Debemos hacerlo en la vista de código y ponerlo en la etiqueta &lt;html&gt;.
		</p>
		<p>
			Afortunadamente, Dreamweaver nos ayuda a hacerlo.
		</p>
	</div>
	
	<div class="span-3 last">
		<img src="img/primg05.png" alt="Definir el idioma de la pàgina" width="650" height="519"/>
		<br /><span class="interactive">Interactivo</span>
	</div>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step4.html">Anterior</a></li>
	<li><a href="step6.html">Siguiente</a></li>
</ol>