<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 16 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			Como hemos visto en el paso anterior, en este caso el navegador predeterminado es Firefox. 
			Con Dreamweaver podemos definir dos navegadores para ver una presentación preliminar de nuestras páginas. El principal es accesible con F12, y el secundario, con CTRL+F12.
		</p>
		<p>
			Podemos definir qué navegadores queremos  usar para la presentación preliminar en el menú, <em>Edición–Preferencias</em>, categoría <em>Vista previa en el navegador.</em>
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg16.png" width="640" height="403" alt="Configuración de navegadores para presentación preliminar" />
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step15.html">Anterior</a></li>
	<li><a href="step17.html">Siguiente</a></li>
</ol>