<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 14 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block span-4 last">
	<p>
		Y éste en vista de diseño:
	</p>
	<p class="centered">
		<img src="img/primg14.png" alt="Resultado final, vista diseño" />
	</p>
	<p>
		Es interesante ver cómo Dreamweaver marca con una línea discontinua la situación de las capas (etiqueta &lt;div&gt;).
	</p>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step13.html">Anterior</a></li>
	<li><a href="step15.html">Siguiente</a></li>
</ol>