<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 11 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			Hacemos lo mismo con la etiqueta &lt;em&gt;.
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg11.png" alt="Etiqueta em" />
		<br /><span class="interactive">Interactivo</span>
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step10.html">Anterior</a></li>
	<li><a href="step12.html">Siguiente</a></li>
</ol>