<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 15 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			Ahora estamos en condiciones de ver nuestra página en un navegador.
		</p>
		<p>
			En la pestaña donde aparece el nombre del archivo, podemos ver que tiene un asterisco a su derecha.
		</p>
		<p>
			<img src="img/primg15a.png" alt="Detalle pestaña de un documento modificado" />
		</p>
		<p>
			El asterisco en el nombre del archivo indica que el archivo ha sido modificado desde la última vez que se guardó.
		</p>
		<p>
			Guardamos (&lt;Ctrl&gt;+s) y pulsamos la tecla F12. Al hacer esto, se abrirá nuestro navegador principal y mostrará la página.
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg15b.png" width="640" height="410" alt="Vista definitiva en el navegador" />
	</div>
	<div class="clear"></div>
</div>

<ol id="subnav">
	<li><a href="step14.html">Anterior</a></li>
	<li><a href="step16.html">Siguiente</a></li>
</ol>