<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 13 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block add-space-top">
	<div class="span-1">
		<p>
			Tenemos en la página dos contenidos diferenciados: la ubicación y las características.
			Vamos a separarlos usando la etiqueta &lt;div&gt;.
		</p>
		<p>
			Para que la diferencia sea clara, a cada uno de ellos le asignaremos un
			identificador, <em>ubicacion</em> a uno y <em>caracteristicas</em> al otro (la falta de los acentos es intencionada).
		</p>
		<p>
			El resultado es éste (vista código):
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg13.png" alt="Resultado final, vista código" />
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step12.html">Anterior</a></li>
	<li><a href="step14.html">Siguiente</a></li>
</ol>