<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 8 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block">
	<div class="span-1">
		<p>
			En Dreamweaver introduciremos texto como si estuviésemos trabajando con un procesador de textos.
		</p>
		<p> 
			En la parte inferior de la pantalla tendremos la barra de herramientas de propiedades que nos facilitará la entrada de texto.
		</p>
	</div>
	<div class="span-3 last">
		<img src="img/primg08.png" alt="Introducción de texto en Dreamweaver" />
		<br /><span class="interactive">Interactivo</span>
	</div>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step7.html">Anterior</a></li>
	<li><a href="step9.html">Siguiente</a></li>
</ol>