<div class="block span-4 last">
	<h4>Tutorial 1: Crear una página web para alquilar un apartamento</h4>
	<h3><strong>Desarrollo del tutorial:</strong> paso 9 de 17</h3>
	<div class="clear"></div>
</div>

<div class="block span-4 last">
	<p>
		Antes de continuar, guardaremos de nuevo. Veamos cómo ha quedado el código (será necesario hacer clic en el botón <em>Código</em>):
	</p>
	<p class="centered">
		<img src="img/primg09.png" class="border" alt="Vista de código hasta el momento" />
	</p>
	<p>
		Aquí podemos ver cómo el Encabezado 1 se corresponde con la etiqueta &lt;h1&gt;, y el Encabezado 2 con la etiqueta &lt;h2&gt;. Además, aunque no
		lo habíamos especificado, todo el texto que no es encabezado ha quedado marcado dentro de etiquetas &lt;p&gt;.
	</p>
	<div class="clear"></div>
</div>


<ol id="subnav">
	<li><a href="step8.html">Anterior</a></li>
	<li><a href="step10.html">Siguiente</a></li>
</ol>